html {
    width: 95vh;
    height: 95vh;
    margin: auto;
    padding: 0px;
    background-color: light-dark(#F6F6FA, black);
    font-family: 'Montserrat';
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: auto;
    padding: 20px;
    padding-left: 10%;
}
#main {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
}

[data-theme="light"] {
color-scheme: light;
}

/* Dark Mode - forcing this for the example, not advised to do this normally except you want to give your users the option to do so */
[data-theme="dark"] {
color-scheme: dark;
}

aside {
    
    float: left;
    display: flex;
    flex-direction: column;
    background-color: light-dark(#E0EBFE,rgb(8, 15, 27));
    height: 100%;
}
#aside {
    width: 50%;
}

section{
    width: 100%;
}

.mainBody {
    padding-left: 4%;
}

.mainBody .topInfo{
    background-color: light-dark(#E0EBFE,rgb(8, 15, 27));
    border-radius: 20px;
}

.text h1{
    margin-top: 8px;
    margin-bottom: 12px;
    font-size: 2em;
    font-weight: bolder;
}

.text h2{
    font-size: 1em;
    font-weight: bold;
}
.text p{
    font-size: 0.8em;
    font-weight: bold;
    color: light-dark(#595959, rgb(84, 82, 99));
}

.projects li {
    font-size: 14px;
}
.projects p {
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.blueAc {
    color: #6D9BF5;
}

.experience p, .education p {
    color: #A8A8A8;
}

section h3 {
    padding-bottom: 10px;
}

section h3, section h4{
    margin: 0px;
    padding-top: 10px;
}

section h5 {
    padding: 0px;
    margin: 0px;
}

#myPhoto {
    margin-left: 30px;
    margin-top: 15px;
    box-shadow: 0px 10px 10px light-dark(#E0EBFE,rgb(7, 7, 7));
    border-radius: 15px;
    border: 2px solid light-dark(white,rgb(8, 15, 27));
    margin-bottom: 20px;
    width: 80%;
}
section > div {
    background-color: light-dark(#E0EBFE,rgb(8, 15, 27));;
    padding: 20px;
    padding-top: 15px;
    margin: 10px;
    border-radius: 15px;
    padding-left: 25px;
    margin-bottom: 30px;
}


.SidebarText h3, a, p{
    margin: 0px;
    color: light-dark(#3b3a86,#dddef0);
}

.SidebarText div {
    margin: 10px;
    padding: 10px;
}

.Contacts ul {
    padding-left: 25px;
}
.Contacts a{
    margin: auto;
    color: light-dark(rgb(59, 96, 131),#869bc9);
}

.Contacts svg {
    width: 10%;
    margin-left: 10px;
    stroke: light-dark(rgb(34, 36, 105),#d8d8d8);
    vertical-align: middle;
}
a:link {
  text-decoration: none;
}

.SidebarText li {
    list-style-type: square;
    color: light-dark(rgb(59, 96, 131),#869bc9);
}

.NightMode {
    margin-left: 55px;
    margin-top: 25px;
    display: inline-flex;
}
.NightMode svg{
    height: 25px;
    fill: light-dark(rgb(59, 96, 131),#869bc9);
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 29px;
  background: white;
  display: block;
  border-radius: 100px;
  position: relative;
  border: 2px solid light-dark(#cddbf7,#6781b6);
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #6D9BF5;
  border-radius: 40px;
  transition: 0.3s;
}

input:checked + label {
  background: black;
}

input:checked + label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

label:active:after {
  width: 20px;
}
p, a {
    text-wrap: wrap;
    overflow: hidden;
}

.Contacts a {
    font-size: 0.8em;
}

@media screen and (max-width: 600px) {
    #main {
        flex-direction: column;
    }

    #myPhoto {
        width:80%;
    }

    body div {
        margin: 0px;
    }

    a {
        font-size: small;
    }

    #aside {
        width: 90%;
        margin: 0px;
    }
    aside {
        width: 90%;
        margin: auto;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
    }
    .section {
        width: 80%
    }
    section div {
        width: 80%;
        margin-top: 10px;
    }
    #backgroundBorder {
        margin: 0px;
        display: inline-flex;
        flex-direction: column;
    }

    h3 {
        color: red;
    }
    .mainBody {
        padding: 0px;
    }
}